<!DOCTYPE html>
<html>
  <head>
    <title>Inphoto</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div class="container-fluid container-backgraund">

    <div class="container">
      <%= link_to 'Главная', root_path, class: 'navLink' %>
      <%= link_to 'О проекте', pages_about_path, class: 'navLink' %>
      <%= yield %>
    </div>

  </div>

  </body>
</html>
